@page "/allnotifications"
@inject NavigationManager navigationManager
@using Microsoft.AspNetCore.SignalR.Client;
@using Contoso.Registration.UI.Hubs;

<button @onclick="Connect">Connect</button>
<br /><br />
<button @onclick="Disconnect">Disconnect</button>
<br /><br />
<button @onclick="SendNotification">Send notification</button>
<br /><br />
<ul>
    @foreach (string notification in @notifications)
    {
        <li>@notification</li>
    }
</ul>

@code {
    private int count = 0;
    private HubConnection _hubConnection;
    private List<string> notifications = new List<string>();
    
    private async Task Connect()
    {
        string hubUrl = navigationManager.BaseUri.TrimEnd('/') + RegistrationHub.HubUrl;
        _hubConnection = new HubConnectionBuilder()
                .WithUrl(hubUrl)
                .Build();

        _hubConnection.On<string>("Broadcast", BroadcastNotification);
        await _hubConnection.StartAsync();
    }

    private async Task Disconnect()
    {
        await _hubConnection.StopAsync();
        await _hubConnection.DisposeAsync();
        _hubConnection = null;
    }

    private async Task SendNotification()
    {
        if (_hubConnection != null)
        {
            count++;
            await _hubConnection.SendAsync("Broadcast", $"Notification {count}");
        }
    }

    private void BroadcastNotification(string notification)
    {
        notifications.Add(notification);
        // Inform blazor the UI needs updating
        StateHasChanged();
    }
}