@page "/vehicles"
@using Contoso.Registration.UI.Components

<Accordion>
    <Collapse Visible="@collapse1Visible">
        <CollapseHeader>
            <Heading Size="HeadingSize.Is5">
                <Button Clicked="@(()=>collapse1Visible = !collapse1Visible)">List</Button>
            </Heading>
        </CollapseHeader>
        <CollapseBody>
            <VehicleList/>        
        </CollapseBody>
    </Collapse>
    <Collapse Visible="@collapse2Visible">
        <CollapseHeader>
            <Heading Size="HeadingSize.Is5">
                <Button Clicked="@(()=>collapse2Visible = !collapse2Visible)">Add new</Button>
            </Heading>
        </CollapseHeader>
        <CollapseBody>
            <AddVehicle/>
        </CollapseBody>
    </Collapse>
</Accordion>