@page "/vehicles"

<h1>Vehicles</h1>
<br />
<div>@error</div>
<br />
<button id="getMoreBtn" @onclick="GetMoreVehicles">Get more 10</button>
<br />
<ul>
    @if (vehicles.Any())
    {
        @foreach (Vehicle vehicle in vehicles)
        {
            <li>@vehicle.Brand @vehicle.Name - @vehicle.Category</li>
        }
    }
</ul>