@using Contoso.Registration.Services.Api.Commands;
@using System.Globalization
@inject IStringLocalizer<AddVehicle> Loc

<EditForm Model="@addVehicleCommand" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator/>
    <Row>
        <Column ColumnSize="ColumnSize.Is4">
            <TextEdit @bind-Value=addVehicleCommand.Name Placeholder=@Loc["Name"] />
            <ValidationMessage For="() => addVehicleCommand.Name"/>
        </Column>
    </Row>
    <br />
    <Row>
        <Column ColumnSize="ColumnSize.Is4">
            <TextEdit @bind-Value=addVehicleCommand.Brand Placeholder=@Loc["Brand"] />
            <ValidationMessage For="() => addVehicleCommand.Brand"/>
        </Column>
    </Row>
    <br />
    <Row>
        <Column ColumnSize="ColumnSize.Is4">
            <Select @bind-Value=addVehicleCommand.Category TValue="string">
                @foreach (string category in categories)
                {
                    <SelectItem Value="@category">@category</SelectItem>
                }
            </Select>
        </Column>
    </Row>
    <br />
    <Row>
        <Column ColumnSize="ColumnSize.Is4">
            <button type="submit">Save</button>
        </Column>
    </Row>
</EditForm>