<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Registration</a>
    <button class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/vehicles" Match="NavLinkMatch.All">
                Vehicles
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/allnotifications" Match="NavLinkMatch.All">
                Notifications
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/multiplelevelsexample" Match="NavLinkMatch.All">
                Multi Levels
            </NavLink>
        </li>
    </ul>
</div>

@code {

}
