@model UserAuthenticaton.Web.Models.EndUser

@{
    ViewData["Title"] = "Index";
}
<h4>Login</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Authenticate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Accesskey" class="control-label"></label>
                <input asp-for="Accesskey" class="form-control" />
                <span asp-validation-for="Accesskey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
