<h1>Second Level</h1>
<br /><br />
<h1>Rented Brand: @RentedBrand</h1>
<br /><br />
<ThirdLevel></ThirdLevel>

@code
{
    [CascadingParameter(Name="RentedBrand")]
    private string RentedBrand { get; set; }
}