@using Contoso.Registration.SharedComponents;

<h1>Third Level</h1>
<br /><br />
<h1>Rented Car: @RentedCar</h1>
<br /><br />
<FourthLevel></FourthLevel>

@code
{
    [CascadingParameter(Name="RentedCar")]
    private string RentedCar { get; set; }
}