@page "/"
@inject IJSRuntime JS

<div>
    <iframe id="micro-frontend-container" allowfullscreen></iframe>
</div>

@code {
    private async void OpenCustomerMicroFrontEnd()
    {
        await JS.InvokeVoidAsync("openCustomerMicroFrontEnd");
    }
}