<Row>
    <Column ColumnSize="ColumnSize.Is5">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
    </Column>
    <Column ColumnSize="ColumnSize.Is5">
            <NavLink class="nav-link" href="/map" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Map
            </NavLink>
        </Column>
    <Column ColumnSize="ColumnSize.Is2">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </Column>
</Row>